<div class="container p-4 line1">

  <div class="row">
    <p class="retour"><a href="../membres/{{association.numSIREN_asso}}" class="btn btn-secondary" role="button"><span class="glyphicon glyphicon-arrow-left"></span><span> Retour</span></a></p>
  </div>

  <div class="row" >
    <div class="col-md-4 mx-auto form_css">
      <div class="card text-center">
        <div class="card-header">
          <h3 class="titres">Ajoutez un membre</h3>
        </div>
        <div class="card-body">
          <form action="/association/ajouter_membre/{{association.numSIREN_asso}}" method="post">
            <div class="form-group">
              <input type="email" name="email_personne" placeholder="Email du membre" class="form-control">
            </div>

            <p class="sous-titre">Poste : </p>

            <select name="libelle_poste" id="menu_deroulant">
              {{#each poste}}
                <option value="{{this.libelle_poste}}">{{this.libelle_poste}}</option>
              {{/each}}
            </select>

            <a href="../../association/ajout_poste/{{association.numSIREN_asso}}" class="btn btn-success">Ajouter un poste</a>

            <div class="form-group">
              <button class="btn btn-success btn-block">Sauvegarder</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
