<div class="container text-center line1">
  {{#notAdmin}}
  <div class="row">
    <p class="retour"><a href="../" class="btn btn-secondary" role="button"><span class="glyphicon glyphicon-arrow-left"></span><span> Retour</span></a></p>
  </div>
  {{/notAdmin}}
  {{#SuperAdmin}}
  <div class="row">
    <p class="retour"><a href="../" class="btn btn-secondary" role="button"><span class="glyphicon glyphicon-arrow-left"></span><span> Retour</span></a></p>
  </div>
  {{/SuperAdmin}}

  <div class="row">

    <div class="col-md-6" id="cadre_fiche_asso">

      <div class="thumbnail" id="prof">

        <div class="card fiche_asso" >
          <img class="card-img-top logo" src="{{association.logo_asso}}" alt="Logo de {{association.nom_asso}}">

          <div class="card-body fiche_asso">
            <h2 class="card-title" id="titre_card_asso">{{association.nom_asso}}</h2>
            <h4 class="card-text">{{association.description_asso}}<h4>
          </div>
          <ul class="list-group list-group-flush">

            {{#Admin}}
            <li class="list-group-item"><span id="entete">Numéro SIREN : </span>{{ association.numSIREN_asso}}</li>
            {{/Admin}}

            <li class="list-group-item"><span id="entete">Type d'association : </span>
              {{#each type}}
                {{this.libelle_type_asso}}
              {{/each}}
            </li>

            <li class="list-group-item"><span id="entete">Pays d'action : </span>
              {{#each pays}}
                {{this.nom_pays}}
              {{/each}}
            </li>

            <li class="list-group-item">
              <span class="glyphicon glyphicon-envelope">
                <a href="mailto:{{association.mail_asso}}">{{association.email_asso}}</a>
              </span>
            </li>
            {{#if association.tel_asso}}
            <li class="list-group-item">
              <span class="glyphicon glyphicon-earphone">
                <a href="tel:{{association.tel_asso}}">{{association.tel_asso}}</a>
              </span>

            </li>
            {{/if}}
            <li class="list-group-item"><span id="entete">Adresse : </span>{{association.adresse_asso}}</li>
            <li class="list-group-item">{{association.CP_asso}}</li>
            <li class="list-group-item">{{association.ville_asso}}</li>

          </ul>

          <div class="card-body fiche_asso">
            {{#notAdmin}}
              {{#if association.facebook_asso}}
              <a href="{{association.facebook_asso}}" class="card-link btn btn-primary" target="_blank">Facebook</a>
              {{/if}}
              {{#if association.site_asso}}
              <a href="{{association.site_asso}}" class="card-link btn btn-primary" target="_blank">Site internet</a>
              {{/if}}
            {{/notAdmin}}

            {{#Admin}}
              <ul>
                <li class="list-group-item"><span id="entete">Lien Facebook : </span>
                  <a href="{{association.facebook_asso}}">{{association.facebook_asso}}</a>
                </li>
                <li class="list-group-item"><span id="entete">Site internet : </span>
                  <a href="{{association.site_asso}}">{{association.site_asso}}</a>
                </li>
              </ul>

              {{#SuperAdmin}}
              <p><a href="../../super_administrateur/modifier/{{association.numSIREN_asso}}" class="btn btn-secondary" role="button">Modifier</a></p>
              {{else}}
              <p><a href="../../association/modifier/{{association.numSIREN_asso}}" class="btn btn-secondary" role="button">Modifier</a></p>
              {{/SuperAdmin}}
            {{/Admin}}

          {{#notAdmin}}
            <div id="adherer">
              {{#if personne.email_personne}}
              <p><a href="/adherer/{{association.numSIREN_asso}}/{{personne.email_personne}}" class="btn btn-success" role="button">Demande d'adhésion</a></p>
              {{/if}}
              <p id="adherer_p">Pour faire une demande d'adhésion à {{association.nom_asso}} vous devez être connecté<p>
            </div>
          {{/notAdmin}}
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
