<main class="index">

  {{#notAdmin}}
  {{> caroussel}}
  {{/notAdmin}}

  <div class="container-fluid line1 p-4">

    <div class="row">
      <form action="/recherche" class="navbar-form" method="post" id="recherche">
        <input type="text" name="recherche" placeholder="Rechercher..." class="form-control input-sm">
        <button type="submit" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </form>

      {{#notAdmin}}
      <div class="dropdown" id="affichage_criteres_dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Critères
          <span class="caret"></span></button>
            <ul class="dropdown-menu">
                {{#if type_association}}
                  <li class="dropdown-header"><p class="sous-titre">Types d'association :</p></li>
                  <form action="/criteres_type_association" class="navbar-form" method="post">
                    {{#each type_association}}
                    <li>
                      <div class="form-check criteres_check">
                        <input type="checkbox" name="{{id_type_asso}}" class="form-check-input" id="check{{id_type_asso}}">
                        <label class="form-check-label" for="check{{id_type_asso}}">{{libelle_type_asso}}</label>
                      </div>
                    </li>
                    {{/each}}
                    <button type="submit" class="btn btn-primary" id="check3">
                      <span class="glyphicon glyphicon-search"> Rechercher</span>
                    </button>
                  </form>
                  {{/if}}

                <li class="divider"></li>
                {{#if arrondissement}}
                  <li class="dropdown-header"><p class="sous-titre">Arrondissements :</p></li>
                  <form action="/criteres_arrondissement" class="navbar-form" method="post">
                    {{#each arrondissement}}
                    <div class="form-check criteres_check">
                      <input type="checkbox" name="{{arrondissement_asso}}" class="form-check-input" id="check{{arrondissement_asso}}">
                      <label class="form-check-label" for="check{{arrondissement_asso}}">{{arrondissement_asso}}</label>
                    </div>
                    {{/each}}
                    <button type="submit" class="btn btn-primary" id="check3">
                      <span class="glyphicon glyphicon-search"> Rechercher</span>
                    </button>
                  </form>
                {{/if}}


                  <li class="divider"></li>
                  {{#if pays}}
                    <li class="dropdown-header"><p class="sous-titre">Pays d'action :</p></li>
                    <form action="/criteres_pays" class="navbar-form" method="post">
                    {{#each pays}}
                    <div class="form-check criteres_check">
                      <input type="checkbox" name="{{id_pays}}" class="form-check-input" id="check{{id_pays}}">
                      <label class="form-check-label" for="check{{id_pays}}">{{nom_pays}}</label>
                    </div>
                    {{/each}}
                    <button type="submit" class="btn btn-primary" id="check3">
                      <span class="glyphicon glyphicon-search"> Rechercher</span>
                    </button>
                  </form>
                  {{/if}}
            </ul>
        </div>
        {{/notAdmin}}
      </div>

      {{#notAdmin}}
      <div class="col-md-2" id="affichage_criteres_div">
        <h4 class="titre_criteres">Recherche par critères</h4>

        <div class="criteres">
          {{#if type_association}}
            <p class="sous-titre">Types d'association :</p>
            <form action="/criteres_type_association" class="navbar-form" method="post">
              {{#each type_association}}
                <div class="form-check">
                  <input type="checkbox" name="{{id_type_asso}}" class="form-check-input" id="check{{id_type_asso}}">
                  <label class="form-check-label" for="check{{id_type_asso}}">{{libelle_type_asso}}</label>
                </div>
              {{/each}}
              <button type="submit" class="btn btn-primary" id="check3">
                <span class="glyphicon glyphicon-search"> Rechercher</span>
              </button>
            </form>
            {{/if}}
          </div>

          <div class="criteres">
            {{#if arrondissement}}
              <p class="sous-titre">Arrondissements :</p>
              <form action="/criteres_arrondissement" class="navbar-form" method="post">
                {{#each arrondissement}}
                <div class="form-check">
                  <input type="checkbox" name="{{arrondissement_asso}}" class="form-check-input" id="check{{arrondissement_asso}}">
                  <label class="form-check-label" for="check{{arrondissement_asso}}">{{arrondissement_asso}}</label>
                </div>
                {{/each}}
                <button type="submit" class="btn btn-primary" id="check3">
                  <span class="glyphicon glyphicon-search"> Rechercher</span>
                </button>
              </form>
            {{/if}}
          </div>

          <div class="criteres">
            {{#if pays}}
              <p class="sous-titre">Pays d'action :</p>
              <form action="/criteres_pays" class="navbar-form" method="post">
              {{#each pays}}
              <div class="form-check">
                <input type="checkbox" name="{{id_pays}}" class="form-check-input" id="check{{id_pays}}">
                <label class="form-check-label" for="check{{id_pays}}">{{nom_pays}}</label>
              </div>
              {{/each}}
              <button type="submit" class="btn btn-primary" id="check3">
                <span class="glyphicon glyphicon-search"> Rechercher</span>
              </button>
            </form>
            {{/if}}
          </div>
      </div>

      <div class="container col-md-10" id="liste_asso">
        {{else}}
        <div class="container">
        {{/notAdmin}}

        {{#SuperAdmin}}
        <div class="row">
          <p class="retour"><a href="/super_administrateur/" class="btn btn-secondary" role="button"><span class="glyphicon glyphicon-arrow-left"></span><span> Retour</span></a></p>
        </div>
        {{/SuperAdmin}}

        <div>
          <h1 class="titres">Résultat de la recherche : {{recherche}}</h1>
        </div>


        {{#each association_recherche}}
        <div class="media asso">
          <div class="media-left media-middle">
              <img class="media-object logo" src="{{logo_asso}}" alt="Logo {{nom_asso}}" id="logo_assos">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{nom_asso}}</h4>
            <p class="truncate">{{description_asso}}</p>
            <span><a href="fiche/{{this.numSIREN_asso}}" class="btn btn-success" role="button">Voir plus</a></span>
            {{#Admin}}
            <span><a href="modifier/{{this.numSIREN_asso}}" class="btn btn-secondary" role="button">Modifier</a></span>

            <!-- Open modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal{{numSIREN_asso}}">Supprimer</button>

            <!-- Modal -->
            <div id="myModal{{numSIREN_asso}}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title titres">Suppression d'une association</h4>
                  </div>
                  <div class="modal-body">
                    <p>Etes-vous sûr de vouloir supprimer cette association ?</p>
                  </div>
                  <div class="modal-footer">
                    <form action="super_administrateur/supprimer/{{this.numSIREN_asso}}?_method=DELETE" method="post">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Abandonner</button>
                      <input type="hidden" name="_method" value="delete"/>
                      <button class="btn btn-danger" type="submit">Supprimer</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {{/Admin}}
          </div>
        </div>

        {{else}}
        <div class="col-md-4 mx-auto">
          <div class="card card-body text-center">
            <p>Aucune association ne correspond à cette recherche</p>
          </div>
        </div>
        {{/each}}

      </div>

    </div>
</main>
