<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0"  class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a href="/projet/fiche_projet/{{projetFirst.numSIREN_asso}}/{{projetFirst.id_projet}}">
      <img  class="img-responsive"  src="{{projetFirst.photo_projet}}" alt="Projet : {{projetFirst.titre_projet}}">
        <div class="carousel-caption" id="titre_carousel">
          <h3>{{projetFirst.titre_projet}}</h3>
          <p>{{projetFirst.date_debut_projet}} - {{projetFirst.date_fin_projet}}</p>
        </div>
      </a>
    </div>
    {{#each projet}}
    <div class="item">
      <a href="/projet/fiche_projet/{{numSIREN_asso}}/{{id_projet}}">
        <img  class="img-responsive"  src="{{photo_projet}}" alt="Projet : {{titre_projet}}">
        <div class="carousel-caption" id="titre_carousel">
          <h3>{{titre_projet}}</h3>
          <p>{{date_debut_projet}} - {{date_fin_projet}}</p>
        </div>
      </a>
    </div>
    {{/each}}
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="right carousel-control" href="#myCarousel"  role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Suivant</span>
  </a>
</div>
