<div class="container text-center line1">
  <div class="row">
    <div class="col-sm-6 col-md-4  form_css">
      <div class="thumbnail" id="prof">
        <img src="{{personne.photo_personne}}" alt="Photo de profil" class="logo">
        <div class="caption">
        		<table class="table table-bordered" id="profil_table">
        	  		<tr>
        			    <th class="text-center">Prénom</th>
        			    <td>{{personne.prenom_personne}}</td>
        	  		</tr>
        	  		<tr>
        			    <th class="text-center">Nom</th>
        			    <td>{{personne.nom_personne}}</td>
        	  		</tr>
                <tr>
                  <th class="text-center">Email</th>
                  <td>{{personne.email_personne}}</td>
                </tr>
        	  		<tr>
        			    <th class="text-center">Date de naissance</th>
        			    <td>{{date}}</td>
        	  		</tr>
        	  		<tr>
        			    <th class="text-center">Adresse</th>
        			    <td>
        			    	<div>{{personne.adresse_personne}}</div>
        			    	<div>{{personne.CP_personne}} {{personne.ville_personne}}</div>
        			    </td>
        	  		</tr>
        	  	</table>

          <span><a href="/modifier/{{personne.id_personne}}" class="btn btn-secondary" role="button">Modifier</a></span>
          <form action="/supprimer/{{personne.id_personne}}?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger" type="submit" role="button">Supprimer</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
