<main class="index">
      <div class="container line1" id="liste_asso">
        <div class="row">
          <div class="col-md-7">
            <h2 id="titre_sup_admin">Liste des associations</h2>
          </div>

          <div class="col-md-5">
            <form action="/recherche" class="navbar-form" method="post" id="recherche">
              <input type="text" name="recherche" placeholder="Rechercher..." class="form-control input-sm">
              <button type="submit" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </form>
          </div>

        </div>

        {{#each association}}
        <div class="media asso">
          <div class="media-left media-middle">
              <img class="media-object logo" src="{{logo_asso}}" alt="Logo {{nom_asso}}" id="logo_assos">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{nom_asso}}</h4>
            <p class="truncate">{{description_asso}}</p>
            <span><a href="fiche/{{this.numSIREN_asso}}" class="btn btn-success" role="button">Voir plus</a></span>
            <span><a href="modifier/{{this.numSIREN_asso}}" class="btn btn-secondary" role="button">Modifier</a></span>
            <form action="supprimer/{{this.numSIREN_asso}}?_method=DELETE" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-danger" type="submit" role="button">Supprimer</button>
            </form>
          </div>
        </div>

        {{else}}
        <div class="col-md-4 mx-auto">
          <div class="card card-body text-center">
            <p>Il n'y a pas d'association</p>
          </div>
        </div>
        {{/each}}

          <a href="/super_administrateur/ajout_association" class="btn btn-success">Créer une association</a>
      </div>
</main>
